/*resets y estructura general*/

@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Righteous|Boogaloo|Yatra+One');

@font-face {
  font-family: Lotr;
  src: url("../fuentes/Lotr.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
	text-decoration: none;
}

body, html{
	font-family: "Yatra One";
} 

input, textarea{ 
	font-family: "Righteous";
}

p+p{
	margin-top: 1em;
}

