@import "carrousel.scss";
@import "vars.scss";
@import "main.scss";
@import "animations.scss";
@import "mixins.scss";


.header {
  padding: 0 10px 0 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $gradiente;
	border: 5px #000;
  border-style: solid none;
	.header_titulo{
    padding: 0.1em 0.2em 0em 0em;
	  font-family: "Lotr";
    font-size: 4rem;
	  font-style: italic;
	  font-weight: normal;
    color: $dorado;
    filter: drop-shadow(0px 0px 5px #000);
    background: #000;
    border-radius: 15px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: $amarillo;
    transform: rotate(10deg);
	}
}


.contenedor_logo{
  height: 150px;
  position: relative;
	&::after{
		content:"";
	  width: 20px;
	  position: absolute;
	  right: -5px;
	  background: #fff;
	  border-radius: 0 0 40% 60%;
	  z-index: 2;
	  animation: goteo 10s infinite;
	}
	.espuma{
	  height: 30px;
	  width: 35px;
	  position: relative;
	  margin-left: -10px;
	  left: 10px;
	  top: -2px;
	  float: left;
	  background: #fff;
	  border-radius: 50%;
		&:nth-of-type(even){
		  top:-5px;
		}
	}
}

.burbuja{
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  background: #ffffff66;
  animation: gas ease-in-out infinite;
  
  @for $i from 1 through 12{
  	&:nth-last-of-type(n+#{$i}){
  		left: random(70)+20%;
  		animation-duration: #{random(9)+random(2)/2}s;
  		animation-delay: #{random(5)/5}s;
  	}
  }
}

.logo{
  height: 150px;
  position: absolute;
}

.menu_general{
	display: flex;
	flex-direction: column;
	a{
		@include botones(0.2em 0.5em, 15px);
		animation: 10s cambio_color infinite alternate;
	}
}

.menu_hamburguesa{
  padding: 10px;
  position: relative;
  font-size: 2rem;
	&::before{
		content:"";
	  height: 0;
	  width: 10px;
	  margin-left: -10px;
	  position: absolute;
	  top: 30px;
	  background: $gradiente;
	  transition: 1s;
	}
	&:hover{
		.hamburguesa{
		  transform: rotate(-45deg);
		}
		&::before{
		  height: 120px;
		}
		.menu_oculto{
    	height: auto;
    	overflow: visible;
			&::after{
			  height: 95%;
    		border-top: 20px solid #ffffffc2;
			}
			a{
			  padding: 0.3em 0.5em;
			  color: #000;
			  border: 1px solid #000;
			  z-index: 2;
			}
			.burbuja{
				z-index: 2;
			}
		}
	} 
}

.hamburguesa{
  padding: 3px;
  position: relative;
  border: 3px solid #fffefe82;
  border-top: 15px solid #ffffffc7;
  border-radius: 5px;
  transition: 1s;
	&::after{
    content: '';
    width: 0.3em;
    height: 0.8em;
    position: absolute;
    right: -15px;
    top: 0px;
    border: 3px solid #fffefe82;
    border-radius: 5px;
	}
}



.menu_oculto{
  height: 0;
  margin-top: 15px;
  position: absolute;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
	&::after{
		content:"";
	  height: 0;
	  width: 100%;
	  position: absolute;
	  bottom: 0;
	  background: $gradiente;
	  border-radius: 5px 5px 0 0;
	  transition: 1.5s 0.5s;
	}
}

//--------------------------------------------------------------------------
//Termina el Header
//Empieza Historia
// --------------------------------------------------------------------------
#historia{
	padding: 2em;
  background: url(../img/pergamino.jpg) 50% 50%;
  background-size: cover;
	overflow: auto;
	img{
		margin: 1em 2em;
		width: 500px;
		float: left; 
	}
  .texto {
		margin: 1em;
  	font-family: 'Great Vibes', cursive;
  	font-size: 1.5rem;	
		font-weight: bold;
		text-align: justify;
  	&::first-letter{
			font-size: 4rem;
		}
  }
}

.titulo{
	margin: 1em;
  padding: 0.3em 0 0.1em;
  font-family: "Lotr";
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  color: $dorado;
  background: $gris_oscuro;
  border-bottom: 2px dotted;
  border-radius: 15px;
}

.borde_inferior{
	border-bottom: 5px solid #000;
}
// -------------------------------------------------------------------------
//Termina Historia
//Empieza Cervezas
//--------------------------------------------------------------------------

#cervezas{
	padding: 2em;
  background: repeating-radial-gradient(circle, #000 8%, $gris_oscuro 9%, #000 10%);
	.contenedor_cervezas{
	  padding: 2em;
	  display: grid;
	  grid-template-columns: repeat(3, auto);
	  grid-gap: 2em;
	  justify-content: center;
	}
	.titulo{
	 	background: $gris_claro;
	}
}

.contenedor_item{
  align-self: center;
  justify-self: center;
	&:nth-child(odd) .item{
		background: $gradiente2;
    box-shadow: 0px 0px 5px 5px #000;
    &::after{
    	animation: reflejo 2s infinite alternate;	
    }
	}
	&:nth-child(4) .item::after{
		animation: 5s vidrio infinite alternate;
	} 
	&:nth-child(6) .item::after{
		animation: 5s vidrio2 infinite alternate;
	}
	&:nth-child(4n+1) .item::after{
		animation: 3s reflejo2 infinite alternate;
	}
	&:nth-child(6n+2) .item::after{
		background: radial-gradient(transparent 40%, #ffffffb8 60%, #ffffff17 100%);		
	}
	&:hover{
		.item{
	  	transform: rotateX(360deg) scale(1.1);
		  border-radius: 10px;
		  &::after{
		  	display: none;
		  }
			p{
			  display: block;
			}
			.foto_cervezas{
			  display: none;
			}
		}
	  &:nth-child(odd) .item{
		  transform: rotateY(360deg) scale(1.1);
	  }
	  &:nth-child(6n+2) .item{
	  	animation: achicarse 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	  }
	}	
}

.item{
  padding: 2em;
  max-width: 300px; 
  position: relative;
  font-family: "Boogaloo";
  background: $gradiente;
  border-radius: 50%;
  box-shadow: inset 5px 5px 5px 0px #000;
  filter: drop-shadow(0px 1px 4px #fff);
  transition: 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); 
	h4{
		padding-bottom: 0.5em;
		color: #fff;
		text-align: center;
		font-weight: normal;
	}
	&::after{ 
    content: '';
    height: 100%;
    width: 100%;    
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
  }
	p{
	  display: none;
	}
	.foto_cervezas{
	  height: 150px;
	  display: block;
	}
}

// Fin de la seccion cervezas---------------------------------------------
// Empieza Formulario-----------------------------------------------------
#contacto{
	padding: 2em 2em 4em;
	overflow: auto;
	background: $gradiente2;
	form.contacto_division {
		margin-right: 2%;
	}
	p{
		text-align: center;
	}
}

.contacto_division{
	margin: 2em 0 0 0;
  padding: 1em;
  height: 450px;
  width: 49%;
	position: relative;
  float: left;
  background:	repeating-linear-gradient(45deg, #000000 20%, #1f1f1f 30%, #000000 40%);
  box-shadow: 3px 3px 10px $gris_claro;
  border-radius: 15px;
  iframe{
  	width: 100%;
  	height: 100%;
  }
	div{
	  margin: 1em 0;
		display: flex;
		align-items: center;
		span{
			margin-right: 0.5em;
			color: $dorado;
		}
		.input{
	    padding: 0.5em;
//El 48% es para cuando sean 2 input dentro del div, y al tener flex: 1 va a ocupar todo el contenedor por mas que haya 1 solo input
	    width: 48%; 
	    flex: 1;
	    color: $azul;
	    background: $gris_claro;
    	border: $celeste 2px;
    	border-style: none none solid solid;
	    border-radius: 15px;
	    transition: 0.5s;
	    &::placeholder{
	    	color: $gris_oscuro;
	    }
			&:focus{
 				background: $gris_oscuro;
	    	color: $gris_claro;
				font-size: 1rem;
				outline: none;
				border-style: solid;
				border-radius: 25px;
				&::placeholder{
	    		color: $gris_claro;
	    	}
			}
//Cuando haya 2 input, quiero que haya una separacion de 4% entre ambos
			&:nth-child(2){
				margin-left: 4%;
			}
		}
	}
		.aceptar{
			position: absolute;
			right: 15px;
			bottom: 15px;
			font-size: 1rem;
			@include botones(0.2em 0.5em, 15px);
		}
}

.pos_bottom{
	position:absolute; 
	bottom: 5px;
}

input[type=checkbox] {
  display: none;
	& + .check_beer{
		height: 1.5em;
		width: 1.5em;
		border: 1px solid $gris_claro;
		border-radius: 50%;
	}
	&:checked + .check_beer {
		background: green url("../img/1.png");
		background-size: cover;
	}
}



.negrita{
	font-weight: bold;
}

// Fin Formulario-------------------------------------------------------
// Empieza footer-------------------------------------------------------

.footer{
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $dorado;
	background: repeating-linear-gradient(45deg, #000000 8%, $gris_oscuro 9%, #000000 10%);
	.contenedor_redes{
		div{
			float: right;
		}
		.redes{
			width: 70px;
			transition: 0.5s;
			&:hover{
	    	transform: scale(1.2);
				filter: drop-shadow(0px 0px 10px $dorado) brightness(1.3);
			}
		}		
	}
}


.volver{
	position: fixed;
	right: 10px;
	bottom: 10px;
	font-size: 2rem;
	@include botones(0.1em, 50%);
}


// --------------------------------------------------------------------------
// Para ocultar cuando la resolucion es mayor a 800px
// --------------------------------------------------------------------------
.hidden_desktop{
	display: none;
}

// Fin del footer------------------------------------------------------------
// Empiezan las media queries-------------------------------------------------------


@media screen and (max-width: 800px){
	.hidden_desktop{
		display: block;
	}
// Para ocultar cuando la resolucion es menor a 800px
	.hidden_tablet{
		display: none;
	}

	.header .header_titulo{
		font-size: 3rem;
	}

	#cervezas{ 
		.contenedor_cervezas{
	  grid-template-columns: repeat(2, auto);
		}
	}
	.contacto_division{
		width: 100%;
	}
}

@media screen and (max-width: 550px){
	.hidden_phone{
		display: none;
	}

	#historia, #contacto{
		padding: 2em 1em 4em;
	}

	#cervezas{
		.contenedor_cervezas{
		  grid-template-columns: repeat(1, auto);
		}
	}
}

@media screen and (min-width: 1024px){
	.contenedor_general{
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-areas:
			"header historia"
			"header carrousel"
			"header cervezas"
			"header contacto"
			"header footer";
	}
	.header {
		grid-area: header;
		padding: 0;
		height: 100vh;
		width: 155px;
		position: fixed;
		justify-content: center;
    align-items: flex-end;
		border-right: 5px solid #000;
	  background: linear-gradient(110deg, $dorado, $amarillo, $dorado);
		.header_titulo {
	    display: none;
		}
		.contenedor_logo{
			display: none;	
		}
		&::before{
			content:"";
			width: 100%;
			height: 100%;
			position: absolute;
			bottom: 0;
			background: url(../img/botella-marron.png) 50% 100% no-repeat;
			background-size: contain;
			filter: hue-rotate(330deg) brightness(0.8);
			animation: 5s crecer 3 alternate;
			z-index: -1;
		}
	}

	.menu_general a{
	  margin: 0.5em 0;
	  &:last-child{
	  	margin-bottom: 3em;
	  }
	}
	.carousel{
		grid-area: carrousel;
		margin-left: 155px;
	}
	#historia{
		grid-area: historia;
		margin-left: 155px;
	}
	#cervezas{
		grid-area: cervezas;
		margin-left: 155px;
	}
	#contacto{
		grid-area: contacto;
		margin-left: 155px;
	}
	.footer{
		grid-area: footer;
		margin-left: 155px;
	}
	.volver{
		display: none;
	}

	@media screen and (min-height: 800px){
		.header{
			align-items: flex-start;
			padding-top: 2em;
		}
	}

}





