$dorado: #bc7012;
$amarillo: #efd002;
$azul: #311B92;
$celeste: #00BCD4;
$gris_claro: #c1c1c1;
$gris_oscuro: #1f1f1f;
$gradiente: linear-gradient(to bottom, $dorado 20%, $amarillo);
$gradiente2: linear-gradient(135deg, $azul, $celeste, $azul);


