@import "vars.scss";
@import "main.scss";

.header {
  display: flex;
  /* height: 160px; */
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: $gradiente;
  /* padding: 0 10px; */
  border-top: 10px solid black;
	.header_titulo{
	  font-family: "hot_sweat";
	  font-size: 3rem;
	  font-style: italic;
	  font-weight: normal;
	}
}


.cont_espuma{
  /* overflow: hidden; */
  /* height: 25px; */
  position: absolute;
  top: 0;
	.espuma{
	  height: 30px;
	  width: 40px;
	  background: white;
	  border-radius: 50%;
	  position: relative;
	  float: left;
	  left: 10px;
	  margin-left: -10px;
	  top: -10px;
		&:nth-child(even){
		  top:-5px;
		}
	}
	.goteo{
	  position: absolute;
	  right: 10px;
	  height: 120px;
	  width: 20px;
	  background: white;
	  border-radius: 0 0 40% 60%;
	}
}


.bubble{
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff66;
  /* border: 1px solid #e4e3e37a; */
  width: 10px;
  height: 10px;
  bottom: 0;
  animation: bubbles ease-in-out infinite;
	&:nth-last-child(1) {
	  left: 35px;
	  animation-duration: 0.8s;
	}

	&:nth-last-child(2) {
	  left: 90%;
	  animation-duration: 1s;
	}

	&:nth-last-child(3) {
	  left: 80%;
	  animation-duration: 1.9s;
	}

	&:nth-last-child(4) {
	  left: 70%;
	  animation-duration: 2.9s;
	}

	&:nth-last-child(5){
	  left: 60%;
	  animation-duration: 3.9s;
	}

	&:nth-last-child(6){
	  left: 50%;
	  animation-duration: 4.9s;
	}

	&:nth-last-child(7){
	  left: 12%;
	  animation-duration: 5s;
	}

	&:nth-last-child(8){
	  left: 10%;
	  animation-duration: 6s;
	}

	&:nth-last-child(9){
	  left: 8%;
	  animation-duration: 7s;
	}

	&:nth-last-child(10){
	  left: 6%;
	  animation-duration: 8s;
	}

	&:nth-last-child(11){
	  left: 4%;
	  animation-duration: 9s;
	}

	&:nth-last-child(12){
	  left: 2%;
	  animation-duration: 10s;
	}
}


.logo{
  height: 150px;
  /* width: 80px; */
  /* position: relative; */
  // border: 2px solid;
}

.menu_general{
	display: flex;
	flex-direction: column;
	a{
    padding: 0.2em;
		border: 2px solid black;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    color: $dorado;
    background: #424242;
    box-shadow: -6px 5px 4px 0px #000000;
    &:hover{
    	filter: brightness(1.5);
    }
	}
}

.menu_hamburguesa{
  padding: 10px;
  position: relative;
  font-size: 2rem;
	a{
	  border: 1px solid black;
	  padding: 2px;
	  text-decoration: none;
	  color: black;
	  z-index: 2;
	}
	&:hover{
		.hamburguesa{
		  transform: rotate(-45deg);
		}
		.servir{
		  height: 120px;
		}
		.menu_oculto{
		  /* visibility: visible; */
    	height: auto;
    	overflow: visible;
			&::after{
			  height: 130px;
    		border-top: 20px solid #ffffffc2;
			}
		}
	} 
}

.hamburguesa{
  position: relative;
  padding: 3px;
  border: 3px solid #fffefe82;
  border-top: 15px solid #ffffffc7;
  border-radius: 5px;
  transition: 1s;
	
	&::after{
	  content: '';
	  width: 5px;
	  height: 20px;
	  position: absolute;
	  right: -11px;
	  top: 2px;
	  border: 3px solid #fffefe82;
	  border-radius: 5px;
	}
}

.servir{
  position: absolute;
  top: 26px;
  margin-left: -10px;
  height: 0;
  width: 10px;
  background: $gradiente;
  transition: 1s;
}


.menu_oculto{
  /* visibility: hidden; */
  position: absolute;
  overflow: hidden;
  height: 0;
  margin-top: 15px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  right: 0;
	&::after{
		content:"";
	  position: absolute;
	  bottom: 0;
	  height: 0;
	  width: 100%;
	  background: $gradiente;
	  border-radius: 5px 5px 0 0;
	  transition: 1.5s 0.5s;
	}
}

@keyframes bubbles {
  100%{bottom: 130px;}
}

@keyframes gradiente {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/*--------------------------------------------------------------------------*/
/*Termina el Header*/
//Empieza Historia
// --------------------------------------------------------------------------
#historia{
	padding: 1em;
	background: repeating-linear-gradient(40deg, $m 30%, $mc 61%), repeating-linear-gradient(300deg, $m 20%, $mc 50%), repeating-linear-gradient(15deg, $m 20%, $mc 60%);
  /* background: repeating-linear-gradient(0deg, #9e9e9e 30%, #ffffff30 61%), repeating-linear-gradient(300deg, #ffffff 20%, #9e9e9e42 50%), repeating-linear-gradient(15deg, #fff0 20%, #9e9e9e 60%), repeating-linear-gradient(250deg, #fff0 50%, #9e9e9e 90%); */
  /* background: repeating-linear-gradient(transparent 30%, #8A6F4E 60%), linear-gradient(45deg, #C8AC82 50%, #8A6F4E 60%); */
  /* filter: sepia(40%); */
  background: url(http://www.youthedesigner.com/wp-content/uploads/2010/08/3-schamka.jpg) 50% 50%;
  background-size: cover;
	font-family: 'Great Vibes', cursive;
	overflow: auto;
	img{
		width: 600px;
		float: left; 
		margin: 1em;
	}
  .texto{
  	font-size: 1.5rem;	
		font-weight: bold;
		text-align: justify;
		margin: 1em;
  	&::first-letter{
			font-size: 3rem;
		}
  }
}

.titulo{
	/*padding-top: 1em;*/
	margin: 1em;
	font-family: "hot_sweat";
	font-size: 2rem;
 	border-bottom: 2px dotted;
 	text-align: center;
}
// -------------------------------------------------------------------------
//Termina Historia
/*Empieza Cervezas*/
/*--------------------------------------------------------------------------*/

#contenedor_cervezas{
	padding: 1em;
	background: radial-gradient(circle, #311B92, #00BCD4, #311B92);
  background: repeating-radial-gradient(circle, #9E9E9E 8%, #1f1f1f 9%, #9E9E9E 10%);
	.cervezas{
	  padding: 2em;
	  display: grid;
	  grid-template-columns: repeat(3, auto);
	  justify-content: center;
	  grid-gap: 2em;
	}
}

.item{
  position: relative;
  max-width: 300px; 
  padding: 2em;
  align-self: center;
  justify-self: center;
  background: $gradiente;
  border-radius: 50%;
  box-shadow: inset 5px 5px 5px 0px black;
  filter: drop-shadow(10px 10px 5px black);
  transition: 1.5s; 
	&:nth-child(odd){
		background: $gradiente2;
    box-shadow: 5px 5px 5px 0px black;
    &::after{
    	animation: reflejo 3s infinite alternate;	
    }
	}
	h4{
		text-align: center;
	}
	&::after{ 
    content: '';
    background: radial-gradient(transparent 40%, unquote("#ffffffb8") 60%, unquote("#ffffff17") 100%);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    border-radius: 50%;
    /* transform: rotate(30deg); */
    width: 100%;
    @include vidrio(90deg,5s,alternate);
  }
	p{
	  display: none;
	}

	.foto_cervezas{
	  display: block;
	  height: 150px;
	}

	&:hover{
	  transform: rotateY(360deg);
	  border-radius: 10px;
	  &:nth-child(odd){
	  	transform: rotate(360deg);
	  }
	  &::after{
	  	display: none;
	  }
		p{
		  display: block;
		}

		.foto_cervezas{
		  display: none;
		}
	}
}

// Fin de la seccion cervezas
// Empieza Formulario
#contacto{
	overflow: auto;
	padding: 1em;
	form {
		margin-right: 2%;
	}
}

.contacto_division{
	margin: 1em 0;
  padding: 1em;
  width: 49%;
  float: left;
  height: 60vh;
  box-shadow: 5px 5px 5px black;
  background: $gradiente;
  border-radius: 15px;
// Si esto funcionara, deberia sacar el margin del form
  &:first-child {  	
  	margin-right: 2%;
  }
  iframe{
  	height: -webkit-fill-available;
  	width: 100%;
  }
	div{
		display: flex;
		align-items: center;
	  margin: 1em 0;
		span{
			margin-right: 0.5em;
		}
		.input{
	    padding: 0.5em;
//El 48% es para cuando sean 2 input dentro del div, y al tener flex: 1 va a ocupar todo el contenedor por mas que haya 1 solo input
	    width: 48%; 
	    flex: 1;
    	border: blue 1px;
    	border-style: none none solid solid;
	    border-radius: 15px;
			&:focus{
				font-size: 1.2rem;
				border: 2px solid blue;
				outline: none;
			}
//Cuando haya 2 input, quiero que haya una separacion de 4% entre ambos
			&:nth-child(2){
				margin-left: 4%;
			}
		}
	}
}

// Fin Formulario
// Empieza footer

.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	background: repeating-linear-gradient(45deg, #000000 8%, #1f1f1f 9%, #000000 10%);
	color: $dorado;
	.redes{
		width: 70px;
		&:hover{
    	width: 75px;
			filter: drop-shadow(5px 5px 10px blue) brightness(1.2);
		}
	}
}


// -------------------------------------------------------------
// Para ocultar solo cuando la resolucion es mayor a 720px
// -------------------------------------------------------------
.hidden_desktop{
	display: none;
}

// Fin del footer
// Empieza media query


@media screen and (max-width: 800px){
	.hidden_desktop{
		display: block;
	}

	.hidden_tablet{
		display: none;
	}

	#contenedor_cervezas{ 
		.cervezas{
	  grid-template-columns: repeat(2, auto);
		}
	}
	.contacto_division{
		width: 100%;
	}
}

@media screen and (max-width: 550px){
	#contenedor_cervezas{
		.cervezas{
		  grid-template-columns: repeat(1, auto);
		}
	}
}



@keyframes vidrio{
	@for $i from 1 through 40 {
		#{$i}% {  
			background: radial-gradient(transparent (40%)/($i) , unquote("#ffffffaa") (60%)/($i) , transparent (100%)/($i));
		}
	}
	41%{
		background: transparent;
	}
}

@keyframes reflejo{
	@for $i from 0 through 20 {
		#{$i}% {  
			background: radial-gradient(transparent $i*2% , unquote("#ffffffb8") $i*3% , transparent 100%);
		}
	}
	@for $i from 21 through 34 {
		#{$i}% {  
			background: radial-gradient(transparent $i*2.5% , unquote("#ffffffb8") $i*3% , transparent 100%);
		}
	}
	100%{
		background: transparent;
	}	
}


@keyframes vidrio{
	@for $i from 0 through 50 {
		#{$i}% {  
			background: linear-gradient(0deg, transparent $i*2%, #ffffffb8 0%, transparent 100%);
		}
	}
}

@mixin vidrio($deg, $duration, $direction){
  animation-duration: $duration;
  animation-name: vidrio#{$deg};
  animation-iteration-count: infinite;
  animation-direction: $direction;
}


@keyframes vidrio{
	@for $i from 0 through 50 {
		#{$i}% {  
			background: linear-gradient(0deg, transparent $i*2%, #ffffffb8 0%, transparent 100%);
		}
	}
}